doctype 
html(lang='es')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', type='text/css', href='normalize.css')    
    link(rel='stylesheet', type='text/css', href='/stylesheets/estilo_formulario.css')
    
  body    
      section   
    block content