doctype 
html(lang='es')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', type='text/css', href='normalize.css')    
    link(rel='stylesheet', type='text/css', href='/stylesheets/estilos.css')
  body    
    header
      figure#logo
        img(src='/images/n.jpg')
      h1
        | Bienvenido a NutrinaYcen     

    block navegador
    block content
    block Lista 

    footer
      p
        strong Todos los derechos reservados
      p
        | NUTRINAYCEN 2015